/*----------------------------------------header----------------------------------------*/
header{
    background: url('../imgs/back-2.jpg') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 400px;
    position: relative;
    text-align: center;
}
