/*----------------------------------------general----------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
                 Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.debug-div-dimensions{
    border: 2px solid green;
    padding: 2px;
}
hr{
    border: 0;
    height: 1px;
    background: linear-gradient(to left, rgba(256,256,256,0), rgba(256,256,256,.75), rgba(256,256,256,0));
}
body{
    background-color: black;
}
/*----------------------------------------nav----------------------------------------*/
nav{
    display: flex;
    height: 0;
    position: relative;
    z-index: 2;
}
nav #nav-logo{
    flex: 50%;
    margin-top: 5px;
    padding-left: 2%;
}
nav #nav-logo img{
    width: 25%;
}
nav #nav-list{
    flex: 50%;
    margin-top: 30px;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 0 1.5%;
}
nav li a{
    text-decoration: none;
    color:#FFF;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
}
nav ul li a::after{
    content: "";
    position: absolute;
    top: 19px;
    left: 0px;
    height: 2px;
    width: 0;
    /*background-color: #572F59;*/
    background-color: #35ad5d;
    transition: all 0.5s ease-in-out;
}
nav ul li a:hover::after{
    width: 80%;
}
/*----------------------------------------header----------------------------------------*/
header{
    background: url('../imgs/report.jpg') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 400px;
    position: relative;
    text-align: center;
}
header #header-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,transparent 0%, rgba(0,0,0,1) 100%);
}
header #header-info{
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    text-align: center;
    
}
header #header-info h1{
    color: #FFF;
    font-size: 50px;
    font-weight: 400;
}
header #header-info h1 span{
    color: #3cc66b;
}
/*----------------------------------------form----------------------------------------*/
form{
    width: 70%;
    margin: 50px auto;
}
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #3cc66b;
  border-radius: 4px;
  resize: vertical;
}
input[type=number],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #3cc66b;
  border-radius: 4px;
  resize: none;

}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: large;
  font-weight: 500;
  color: #3cc66b;
}
label span{
    color: red;
}
form i{
    font-size: x-large;
    color:#3cc66b;
    /*padding-right: 15%;*/
    width: 25%;
}
.ix{
    font-size: xx-large;
}
input[type=submit] {
  background-color: #3cc66b;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  float: right;
}
.submit-class{
    margin-top: 20px;
}
input[type=submit]:hover {
  background-color: #267c43;
}
input[type=file] {
  background-color: #267c43;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}
.container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.container2:hover input~.checkmark2 {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.container2 input:checked~.checkmark2 {
  background-color: #267c43;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.container2 input:checked~.checkmark2:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.container2 .checkmark2:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.container3 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.container3 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom checkbox */
.checkmark3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.container3:hover input~.checkmark3 {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container3 input:checked~.checkmark3 {
  background-color: #267c43;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark3:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.container3 input:checked~.checkmark3:after {
  display: block;
}
/* Style the checkmark/indicator */
.container3 .checkmark3:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/*----------------------------------------contact----------------------------------------*/
#contact{
    width: 90%;
    margin: 75px auto;
}
#contact #contact-box{
    display: flex;
    justify-content: space-between;
}
#contact #contact-box div{
    width: 25%
}
#contact #contact-box #contact-1 p{
    color: #aaa;
    font-size: 12.5px;
    font-weight: 500;
    margin-top: 15px;
}
#contact #contact-box h3{
    font-weight: normal;
    margin-bottom: 25px;
}
#contact #contact-box #contact-2 ul{
    list-style: none;
}
#contact #contact-box #contact-2 ul li{
    color: #aaa;
    display: flex;
    margin-bottom: 15px;
}
#contact #contact-box #contact-2 ul li i{
    margin-right: 10px;
    color: #777;
}
#contact #contact-box #contact-2 ul li .first{
    transform: translate(0, 25%);
    -ms-transform: translate(0, 25%);
}
#contact #contact-box #contact-3 ul{
    list-style: none;
}
#contact #contact-box #contact-3 ul li{
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #ddd;
    position: relative;
}
#contact #contact-box #contact-3 ul i{
    color: #999;
    position: absolute;
    top:50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    transition: all .3s;
}
#contact #contact-box #contact-3 ul li:hover{
    background-color: #267c43;
}
#contact #contact-box #contact-3 ul li:hover i{
    color: #FFF;
}
/*----------------------------------------footer----------------------------------------*/
footer{
    margin: 20px auto;
    text-align: center;
    color: #aaa;
}
footer span{
    color: #3cc66b;
    font-weight: bold;
}